.input-field
	background-color: $white
	border-radius: 4px
	border: 2px solid $input-border-color
	height: 50px
	box-shadow: none
	padding: 10px 15px
	@include placeholder
		color: $text-info-color
	&.input-field--size-samll
		height: 40px
		font-size: 14px
		line-height: 20
		margin-right: 10px
		

		