.catalog-subnav(data-simplebar)
	.catalog-subnav__inner
		.catalog-subnav__col
			.catalog-subnav__block
				.catalog-subnav__header
					span.catalog-subnav__title Прямоугольный водосток
					span.count-text 23
				ul.catalog-subnav__list
					+catalogSubnavItem('','Прямоугольные оцинкованные трубы водостока','22')
					+catalogSubnavItem('','Заклушки прямоугольного водостока оцинкованные','22')
					+catalogSubnavItem('','Крепление прямоугольного водостока','22')
					+catalogSubnavItem('','Прямоугольные оцинкованные трубы водостока','22')
					+catalogSubnavItem('','Крепление прямоугольного водостока','22')
					+catalogSubnavItem('','Заклушки прямоугольного водостока оцинкованные','22')
					+catalogSubnavItem('','Прямоугольные оцинкованные трубы водостока','22')
			.catalog-subnav__block
				.catalog-subnav__header
					span.catalog-subnav__title Прямоугольный водосток
					span.count-text 23
				ul.catalog-subnav__list
					+catalogSubnavItem('','Прямоугольные оцинкованные трубы водостока','22')
					+catalogSubnavItem('','Заклушки прямоугольного водостока оцинкованные','22')
					+catalogSubnavItem('','Крепление прямоугольного водостока','22')
					+catalogSubnavItem('','Прямоугольные оцинкованные трубы водостока','22')
					+catalogSubnavItem('','Крепление прямоугольного водостока','22')
					+catalogSubnavItem('','Заклушки прямоугольного водостока оцинкованные','22')
					+catalogSubnavItem('','Прямоугольные оцинкованные трубы водостока','22')

		.catalog-subnav__col
			.catalog-subnav__block
				.catalog-subnav__header
					span.catalog-subnav__title Прямоугольный водосток
					span.count-text 23
				ul.catalog-subnav__list
					+catalogSubnavItem('','Прямоугольные оцинкованные трубы водостока','22')
					+catalogSubnavItem('','Заклушки прямоугольного водостока оцинкованные','22')
					+catalogSubnavItem('','Крепление прямоугольного водостока','22')
					+catalogSubnavItem('','Прямоугольные оцинкованные трубы водостока','22')
					+catalogSubnavItem('','Крепление прямоугольного водостока','22')
					+catalogSubnavItem('','Заклушки прямоугольного водостока оцинкованные','22')
					+catalogSubnavItem('','Прямоугольные оцинкованные трубы водостока','22')
			.catalog-subnav__block
				.catalog-subnav__header
					span.catalog-subnav__title Прямоугольный водосток
					span.count-text 23
				ul.catalog-subnav__list
					+catalogSubnavItem('','Прямоугольные оцинкованные трубы водостока','22')
					+catalogSubnavItem('','Заклушки прямоугольного водостока оцинкованные','22')
					+catalogSubnavItem('','Крепление прямоугольного водостока','22')
					+catalogSubnavItem('','Прямоугольные оцинкованные трубы водостока','22')
					+catalogSubnavItem('','Крепление прямоугольного водостока','22')
					+catalogSubnavItem('','Заклушки прямоугольного водостока оцинкованные','22')
					+catalogSubnavItem('','Прямоугольные оцинкованные трубы водостока','22')
