section.s-actions
	.container
		.actions
			.section-header
				h2.title-section Акции и спецпредложения
				.section-header__right
					a(href='#').section-header__link Все спецпредложения
					span.count-text 123
			.actions-prev
				.action-prev
					.action-prev__header(style="background-image:url('static/images/content/action/sr.jpg')")
						a(href='#').btn Купить листы оцинкованные
					.action-prev__body
						.action-prev__text
							span.action-prev__descr Специальные предложения
							span.action-prev__title на листы оцинкованные
				.action-prev
					.action-prev__header(style="background-image:url('static/images/content/action/sr.jpg')")
						a(href='#').btn Купить листы оцинкованные
					.action-prev__body
						.action-prev__text
							span.action-prev__descr Распродажа
							span.action-prev__title на листы оцинкованные
				.action-prev
					.action-prev__header(style="background-image:url('static/images/content/action/stroy.jpg')")
						a(href='#').btn Купить профнастил со скидкой
					.action-prev__body
						.action-prev__text
							span.action-prev__descr Скидки
							span.action-prev__title на листы оцинкованные
