section.s-advantages.s-bg-white
	.container
		.advantages
			.advantage
				.advantage__aside 
					+icon('guarantee','advantage__icon')
				.advantage__body
					span.advantage__title 30-дннвная гарантия возрата денег
					p.advantage__text Поэтому вы можете делвть покупки с уверенностью
					a(href='#').advantage__link.link.link-underline Узнать о гаранитии
			.advantage
				.advantage__aside 
					+icon('support','advantage__icon')
				.advantage__body
					span.advantage__title 30-дннвная гарантия возрата денег
					p.advantage__text Поэтому вы можете делвть покупки с уверенностью
					a(href='#').advantage__link.link.link-underline Узнать о гаранитии
			.advantage
				.advantage__aside 
					+icon('blood-test','advantage__icon')
				.advantage__body
					span.advantage__title 30-дннвная гарантия возрата денег
					p.advantage__text Поэтому вы можете делвть покупки с уверенностью
					a(href='#').advantage__link.link.link-underline Узнать о гаранитии
