section(style="background-image:url('static/images/general/banner.jpg')").s-banner
	.container
		.banner
			h1.title-page Продажа строительных  материалов от производителя
			p.banner__text Далеко-далеко за, словесными горами в стране гласных и согласных живут рыбные тексты. Осталось предложения лучше языкового запятых!