section.s-product-prev-line.s-bg-white
	.container
		.section-header
			h2.title-section Товары со скидкой
			.section-header__right
				a(href='#').link-green.link-underline Все товары со скидкой
				span.count-text 123
		.product-prev-line
			include ../../modules/product/prev-1
			include ../../modules/product/prev-2
			include ../../modules/product/prev-3
			include ../../modules/product/prev-4