.s
	&-bg-white
		background-color: $white
	&-popyular-category
		padding-bottom: 10px
	&-sales-leaders
		padding-bottom: 20px

.section-header
	display: flex
	align-items: center
	margin-bottom: 30px
	&__right
		margin-left: auto
	&__link
		color: $link-color
		text-decoration: underline
		