.header
	.container
		display: flex
		align-items: center
	&-top
		padding: 12px 0
		&__user-nav
			margin-left: auto
		&__lacation
			margin-right: 80px
	&-main
		color: $white
		background-color: $dark-bg-color
		padding: 20px 0
		.container
			display: flex
			justify-content: space-between
			& > *
				&:not(:last-child)
					margin-right: 40px
	&__basket-prev
		margin-left: auto