.header
	.container
		display: flex
		align-items: center
	&-top
		padding: 12px 0
		&__user-nav
			margin-left: auto
		&__lacation
			margin-right: 80px
			@media screen and (max-width: $tablet-size)
				margin-right: 20px
	&-main
		color: $white
		background-color: $dark-bg-color
		padding: 20px 0
		.container
			position: relative
			& > *
				&:not(:last-child)
					margin-right: 40px
					@media screen and (max-width: $tablet-size)
						margin-right: 20px
		&__basket-prev
			margin-left: auto
			@media screen and (max-width: $tablet-size)
				order: 4
				margin-left: 0
				margin-right: 30px
		&__logo
			@media screen and (max-width: $tablet-size)
				order: 1
		&__search
			@media screen and (max-width: $tablet-size)
				order: 3
				margin-right: 25px
		&__order-callback
			@media screen and (max-width: $tablet-size)
				order: 5
				margin-right: 0
		&__catalog-nav
			@media screen and (max-width: $tablet-size)
				order: 2
			
