.basket-prev
	display: flex
	flex-direction: column
	&__icon
		@include size(25px)
		fill: $white
		margin-bottom: 7px
	&__count
		font-size: 14px
		line-height: 18px
	&__title
		line-height: 20px
		margin-bottom: 2px